body {
  font-family: monospace;
  background-image: url("images/01.png");
  background-position: center;
  background-repeat: no-repeat;
  color: #f2f2f2;
  font-size: 3em;
}

.fixed-text {
  position: fixed;
  bottom: 50px;
  left: 3px;
  letter-spacing: 2px;
}

/*div.fixed-text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  background-color: rgba(255, 0, 0, 0.8);
}*/
