body {
  font-family: monospace;
  background-image: url("images/01.png");
  background-position: center;
  background-repeat: no-repeat;
  color: #f2f2f2;
  line-height: 250%;
}

.fixed-text {
  position: fixed;
  bottom: 5px;
  left: 3px;
  letter-spacing: 2px;
  padding: 10px;
}

#title {
  font-size: 2.5em;
}

#converterBox {
  font-size: 1em;
}

input {
  font-family: monospace;
}

input[type=text] {
    width: 15%%;
    padding: 4px 5px;
    margin: 4px;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#outputBox {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

#calculateButton {
  background-color: #ffffff;
  border: solid;
  border-width: 1px;
  border-radius: 2px;
  color: #333333;
  font-family: monospace;
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  box-shadow: 1px 1px 0px #666666;
  margin: 2px 4px;
}

#calculateButton:hover {
  background-color: #b38f00;
}

#calculateButton:active {
  background-color: #806600;
  box-shadow: 1px 1px 0 0 #888888;
}
